# This is a small machine learning project.

First we have to input all the required libraries. For ML projects, numpy and pandas are frequently used by experts. Numpy is a library through which we can perform matri operations. And Pandas is a library through which we can do data transformations.

In [3]:
import numpy as np
import pandas as pd
print('imported eveything !')

imported eveything !

Make sure you have the dataset in the project folder.

In [4]:
data_path = 'melb_data.csv'
data = pd.read_csv(data_path)
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
pd.DataFrame(data.head())

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
data_array = np.array(data)
# pd.DataFrame(data_array[0])
print(np.average(data_array[:,14]))

nan

# First part of preprocessing - check and handle NaN

The first part of preprocessing is to check for NaN (Not a Number). NaNs occur for a variety of reasons. This maybe due to various factors such as:

    1. Missing data - Absence of data can lead to NaN. This is the most probable cause.

    2. Data entry errors - There might be human mistakes. The values wouldn't have been in the correct format. For ex, in this value '1o24', 'o' is an alphabet and not the number 0. This may lead to NaN. 

    3. Instrumentation errors - This occurs due to some faults in the measuring instruments. 

    4. Incompatiable data sources - Since the dataset has been created by accumulating various data sources, there might be data type mismatch. 

    5. Transformation operations - The data could have been observed by mathematical formula. In such a scenario, when a number goes through an invalid operation, the formula returns a NaN. For ex, when a number gets divided by a zero, or when we try to find a square root of a negative number. These spits out NaN. 

    6. Outliers - There might be extreme values. Extremely big values can also become NaN. 


In short, there are a lot of causes due to which NaNs can occur, and handling them is crucial for subsequent steps. Please do mention if there are any other factors that causes NaN.

# Handling NaNs. 

Now there are several ways through which we can handle NaNs. They are listed below: 

    1. Removing/Dropping - You can either remove the rows or columns that has the NaN. This can be done by using the method dropna(axis). For dropping columns (axis=1) and for dropping the row (axis=0). 

    2. Replacement - You can replace the NaN value with either a specific constant or with mean/median/mode values. This is sometimes more prefered since there wouldn't be data loss, unlike in the previous step. 
        a. for filling with a constant, fillna(value=0)
        b. for filling with a mean, fillna(df.mean())
        c. for filling with a median, fillna(df.median())
        d. for filling with a mode, fillna(df.mode())

    3. Forward or backward fill - Fill the NaN value with the previous value or the next value.

In [7]:
# In this example, we will remove/drop the rows that has NaN

data = data.dropna(axis=0)

In [8]:
# Now we have to remove separate the output or "target" variable, which in our case
# happens to be Price

df_y = data.Price

-----------------------------------------------------------------------------------

# Feature Engineering

What is feature engineering ?

The way we use our dataset is very important. Sometimes we can combine multiple features and create an entirely new feature, which can boost the model performance. Or Sometimes we perform a certain operation on a particular feature, which improves the model efficiency. This is feature engineering.

------------------------------------------

# Feature Selection

The Selection of specific columns that contribute the most towards model efficiency is called as feature selection. We have to choose the input parameters for the model. We can either choose certain input columns/parameters or use all the columns. We can go ahead with any of the option, but has it's advantages as well as disadvantages. 

Using all the columns may lead to better prediction, but it can also lead to "overfitting". Whereas not taking sufficient parameters into consideration may cause "underfitting". 

Well, what is overfitting and underfitting ?

Overfitting, to put it simply, is when a machine learning model learns the training data too well—that is, it takes in too much noise and particular details that don't translate well to fresh, unobserved data. It's similar to learning the answers to a particular set of questions by heart without really comprehending the underlying ideas.

Underfitting, is when a machine learning model is too basic to identify the underlying patterns in the training set. It's like trying to answer all the questions in a paper without studying, or studying only a few problems. 

Thus, it's important to take sufficient parameters into consideration. But of course, it depends on the specific use case. 

In our sample project, we will choose only a few parameters into consideration.

In [9]:
# We will be going ahead these features. 

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [10]:
df_x = data[melbourne_features]

In [11]:
import sklearn
from sklearn.tree import DecisionTreeRegressor
print('imported successfully !')

imported successfully !

In [12]:
treemodel = DecisionTreeRegressor(random_state=1)
treemodel.fit(df_x, df_y)

DecisionTreeRegressor(random_state=1)

In [19]:
print(treemodel.predict(df_x.head()))
print(df_y.head())

[1035000. 1465000. 1600000. 1876000. 1636000.]
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [17]:
from sklearn.metrics import mean_absolute_error

ypred = treemodel.predict(df_x.head())
print(mean_absolute_error(df_y.head(), ypred))

0.0